:root{
  --effect-duration: .65s;
  --effect-offset: 10px;
  --effect-factor: 1;
}

[class*="effect__"]{
  transition-property: transform;
  transition-duration: var(--effect-duration);
}

.effect__{

  // Slide Up
  &slideUp{
    transform: translateY(0);

    &.effect__animated{
      transform: translateY(calc(var(--effect-offset) * var(--effect-factor) * -1));
    }
  }

  // Slide Up
  &slideDown{
    transform: translateY(0);

    &.effect__animated{
      transform: translateY(calc(var(--effect-offset) * var(--effect-factor)));
    }
  }

  // Slide Left
  &slideLeft{
    transform: translateX(0);

    &.effect__animated{
      transform: translateX(calc(var(--effect-offset) *  var(--effect-factor) * -1));
    }
  }

  // Slide Right
  &slideRight{
    transform: translateX(0);

    &.effect__animated{
      transform: translateX(calc(var(--effect-offset) * var(--effect-factor)));
    }
  }

  // Zoom In
  &zoomIn{
    transform: scale(1);

    &.effect__animated{
      transform: scale(calc(var(--effect-scale) + (var(--effect-scale) * (var(--effect-factor) / 10))));
    }
  }

  // Zoom Out
  &zoomOut{
    transform: scale(1);

    &.effect__animated{
      transform: scale(calc(var(--effect-scale) + (var(--effect-scale) * (var(--effect-factor) / 10)) * -1));
    }
  }
}
