.#{$-anim-prefix}animated {
  animation-duration: var(--animate-duration);
  animation-delay: var(--animate-delay);
  animation-fill-mode: both;

  @media print, (prefers-reduced-motion: reduce) {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;

    &[class*='Out'] {
      opacity: 0;
    }
  }
}

[class*="#{$-effect-prefix}"] {
  transition-property: transform;
  transition-timing-function: var(--effect-easing);
  transition-duration: var(--effect-duration);

  animation-duration: var(--effect-duration);
  animation-timing-function: var(--effect-easing);
}

[class*="#{$-effect-prefix}loop"] {
  animation-iteration-count: infinite;
}
