:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --effect-duration: .65s;
  --effect-offset: 10px;
  --effect-scale: 1;
  --effect-factor: 1;
  --effect-easing: linear;
}
